# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
/node_modules
*.tsbuildinfo
/apps/web/.next
/apps/web/node_modules
/apps/web/package-lock.json
/apps/web/pnpm-lock.yaml
/apps/web/pnpm-workspace.yaml
# /apps/web/turbo.json
# /apps/web/tsconfig.json
# /apps/web/tsconfig.node.json
# /apps/web/tsconfig.app.json
# /apps/web/tsconfig.spec.json